Trying to use this against the MS Azure endpoints results in a DeserializationError

Setting this up against MS (for use against the Azure oauth2 endpoints in AuthorizationCode workflow) doesn't like the response back from the token endpoint:

Error: Token exchange failed: Error { kind: DeserializationError(Error("invalid type: string \"3600\", expected i32", line: 1, column: 62)) }

I think this is coming from the serde deserialize call at the end of the token exchange handler, but I can't see the response back from the endpoint to see what data it's choking on.

For reference, I've set this out as a custom Provider using the Table notation (bit of digging into the code led me to that approach):

```toml
[global.oauth.azure]
provider = { auth_uri = "https://login.microsoftonline.com/common/oauth2/authorize", token_uri = "https://login.microsoftonline.com/common/oauth2/token" }
redirect_uri = "https://localhost:8000/user/auth"
client_id = "<redacted>"
client_secret = "<redacted>"
```

I've then attached the fairing to my Rocket as so:

```rust
        .attach(OAuth2::fairing(HyperSyncRustlsAdapter, login_azure_callback, "azure", "/user/auth", Some(("/user/login", vec!["user:read".to_string()]))))
```

where my login_azure_callback is:
```rust
pub fn login_azure_callback(request: &Request, token: TokenResponse) -> Result<Redirect, Box<::std::error::Error>> {
    let mut cookies = request.guard::<Cookies>().expect("Cookies");

    cookies.add_private(
        Cookie::build("token", token.access_token)
            .same_site(SameSite::Lax)
            .finish()
    );
    Ok(Redirect::to("/"))
}
```

This _works_, in as much as obtaining the auth code works, I get the MS oauth flow, but the redirect back results in a 400 BadRequest and the error above.

The problem here isn't a bug in this module. Looking at the adapter, we're attempting to deserialize the response into this struct, per the RFC:

```rust
/// The server's response to a successful token exchange, defined in
/// in RFC 6749 §5.1.
#[derive(serde::Deserialize)]
pub struct TokenResponse {
    /// The access token issued by the authorization server.
    pub access_token: String,
    /// The type of token, described in RFC 6749 §7.1.
    pub token_type: String,
    /// The lifetime in seconds of the access token, if the authorization server
    /// provided one.
    pub expires_in: Option<i32>,
    /// The refresh token, if the server provided one.
    pub refresh_token: Option<String>,
    /// The (space-separated) list of scopes associated with the access token.
    /// The authorization server is required to provide this if it differs from
    /// the requested set of scopes.
    pub scope: Option<String>,

    /// Additional values returned by the authorization server, if any.
    #[serde(flatten)]
    pub extras: HashMap<String, JsonValue>,
}
```
Unfortunately the response from the MS token endpoint looks like this:

```
{"token_type":"Bearer","scope":"User.Read","expires_in":"3599",\"ext_expires_in\":\"3599\",\"expires_on\":\"1565615753\",\"not_before\":\"1565611853\" ... snip }
```
Serde sees that the type for "expires_in" is a string, not an i32, and can't map the data to the target struct.

Now, the RFC isn't exactly _prescriptive_ about what _type_ the response in this field should be:

>    expires_in
         RECOMMENDED.  The lifetime in seconds of the access token.  For
         example, the value "3600" denotes that the access token will
         expire in one hour from the time the response was generated.
         If omitted, the authorization server SHOULD provide the
         expiration time via other means or document the default value.

That suggests to me that a string _is_ valid output here, which makes for interesting handling on the client side.

Thanks for reporting this! I think it would be reasonable to allow either a number or a "stringified" number. I'll take a look at what's allowed, done, or possible to work around.

Supporting `provider = "Microsoft"` would be good too, so you wouldn't need to specify those endpoints manually.

Yeah, that'd be nice. Doesn't look too hard to add the provider.

Serde used to allow implicit conversions like this in 0.9, but they disallowed it in 1.0;

https://github.com/serde-rs/json/issues/317

RFC 6749 §5.1 does say this:

> Parameter names and string values are included as JSON strings.
> Numerical values are included as JSON numbers.  The order of
> parameters does not matter and can vary.

So I believe that Microsoft's API is not compliant to the spec. Even so, I have pushed a branch adding support if you wouldn't mind testing it:

```toml
[dependencies]
rocket_oauth2 = { git = "https://github.com/jebrosen/rocket_oauth2", branch = "expires-string" }
```

This branch should have support for `provider = "Microsoft"` and also deserialize the expiration time successfully. If it works, I'll polish and release a 0.0.6 before long.

How did you create a test application, btw? I had wanted to test with MS login before but I had trouble figuring out what platform I needed to use in order to create an app.

That branch does indeed appear to resolve the problem I had.

My application for this at this stage is pretty simple, it's intended to ultimately inspect and report on Azure resources running under the logged in account.

```rust
.attach(OAuth2::fairing(HyperSyncRustlsAdapter, login_azure_callback, "azure", "/user/auth", Some(("/user/login", vec!["user:read".to_string()]))))

...

pub fn login_azure_callback(request: &Request, token: TokenResponse) -> Result<Redirect, Box<::std::error::Error>> {
    let mut cookies = request.guard::<Cookies>().expect("Cookies");

    cookies.add_private(
        Cookie::build("token", token.access_token)
            .same_site(SameSite::Lax)
            .finish()
    );
    Ok(Redirect::to("/"))
}
```
Along with the toml I already shared, that's enough to convince Rocket and this crate to go ask MS for a token. I was doing that manually before I stumbled upon this crate - the fairing approach is much more Rocket-like.

On the Azure side I've registered an Enterprise Application with a redirect URL that matches what I'm sending in the fairing;

![image](https://user-images.githubusercontent.com/1128431/63087992-7bae8c80-bf4b-11e9-9a2d-57d337acef0d.png)

And of course, a client secret generated within the app registration;

![image](https://user-images.githubusercontent.com/1128431/63088037-9f71d280-bf4b-11e9-9bc3-2e8bc1061487.png)

That's more or less all I've needed thus far, but I haven't tried actually calling any APIs with the token I got back yet.

While investigating this, I found that there's a more up-to-date version of the OAuth API:     `https://login.microsoftonline.com/common/oauth2/v2.0/authorize` and `/token` respectively. This newer API has two advantages: I can actually sign in to it, where the endpoints you first posted just tell me to "upgrade to the v2.0 API", and it appears to already return `expires_in` as a number because it works fine with the existing code in `master`.

Given this, I'm inclined to add Microsoft as a known provider with the v2.0 endpoints, and not accept both strings and numbers. Would that suit your use case, or does it make more sense to support both versions of the API?

@Xyon have you had a chance to try with the v2.0 API instead?

I'm having the same issue when using Twitch as a provider.

Example data returned from Twitch:
```
{
  "access_token": "0123456789abcdefghijABCDEFGHIJ",
  "refresh_token": "eyJfaWQmNzMtNGCJ9%6VFV5LNrZFUj8oU231/3Aj",
  "expires_in": 3600,
  "scope": ["viewing_activity_read"],
  "token_type": "bearer"
}
```

The error itself is `Token exchange failed: Error { kind: DeserializationError(Error("invalid type: sequence, expected a string", line: 1, column: 146)) }`.

I suspect it may be Twitch returning an array of scopes rather than a space-separated string.

@tylerdotdev can you open a new issue for that so that it doesn't get lost in this one?